@import url("vcr_osd_mono.css");

body {
    background: #fdfdfd;
    margin: 0;
    font-family: "neue-haas-grotesk-display", sans-serif;
    /*cursor: url(cursors/cursor.png), auto;*/
}

a {
    /*cursor: url(cursors/pointer.png), auto;*/
}

input {
    /*cursor: url(cursors/pointer.png), auto;*/
}

h2, h3, h4, span, p {
    /*cursor: url(cursors/text.png), auto;*/
}

#main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 10fr;
    font-size: 13px;
    letter-spacing: 1.75px;
}

#indexLink {
    font-weight: 600;
}

#sidebar {
    font-weight: 700;
    font-style: italic;
    z-index: 1;
    grid-row: 1 / 3;
    margin: 5px;
}

a {
    text-decoration: none;
    color: blue;
}

#sidebar a::before {
    white-space: nowrap;
}

#sidebar h2 {
    font-weight: 500;
    display: inline;
}

.toggleButtonInactive a{
    color: grey !important;
}

#innerContainer1 {
}

#innerContainer2 {
}

#postcardsContainer {
    grid-row: 1 / 3;
    grid-column: 2;
    right: 2px;
    height: unset !important;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-right: 15px;
    padding-left: 5px;
}

.postCard {
    width: 100%;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

#postcardsContainer a.blue {
    color: #0000ff;
    background: #fdfdfd;
    border: 3px solid blue;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

#postcardsContainer a.red {
    color: #ff0000;
    background: #fdfdfd;
    border: 3px solid red;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

#postcardsContainer a.green {
    color: #00ff00;
    background: #fdfdfd;
    border: 3px solid #00ff00;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

#postcardsContainer a.yellow {
    color: #ffff00;
    background: #fdfdfd;
    border: 3px solid yellow;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

#postcardsContainer a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: "VCR OSD Mono";
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    opacity: 0;
    font-size: 20px;
}

#postcardsContainer a:hover {
    opacity: 1;
}

#postcardsContainer img {
    width: 100%;
}

#postcardsContainer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gallery {
    /*grid-column: 2;*/
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 10vh;
    left: 15vw;
    /*cursor: url(cursors/down_arrow.png), auto;*/
    grid-row: 1 / 3;
    grid-column: 2;
}

.slide {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}

.slide:last-child {
    /*cursor: url(cursors/up_arrow.png), auto;*/
}

.slideImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-height: 75%;
    width: auto;
}

iframe.slideImg {
    height: 75%;
}

.description {
    white-space: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.description h3 {
    font-weight: 500;
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description span {
    font-weight: 500;
    color: blue;
}

.description p {
}

.hidden {
    display: none;
}

#about-container {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

#about-container a {
    font-weight: 500;
}

#about-container div:nth-child(odd) {
    text-align: right;
}

#about-container h4 {
    font-style: italic;
    color: red;
}

#siteby {
    font-style: italic;
    position: fixed;
    right: 0px;
    bottom: 0px;
    font-size: 10px;
    letter-spacing: .5px;
    transform-origin: top right;
    transform: rotate(90deg);
}

@media only screen and (max-width: 748px) {
    #sidebar {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    #sidebar div {
        display: inline-block;
        float: right;
    }

    #postcardsContainer {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    #postcardsContainer div.grid-item {
        width: calc(100% - 21px);
        margin: 10px;
        right: unset;
    }

    #gallery {
        grid-row: 2;
        grid-column: 1 / 3;
        white-space: unset;
    }

    #gallery .description {
        margin: 5px;
        position: initial;
        top: unset;
        left: unset;
        transform: unset;
        width: unset;
    }

    #gallery .slideImg {
        width: calc(100% - 10px);
        max-height: unset;
    }

    .slide:not(:last-child) {
        margin: 0px;
    }

    #about-container {
        display: block;
        padding: 10px;
        grid-column: 1 / 3;
        grid-gap: 15px;
    }
}
