@import url("vcr_osd_mono.css");

#sidebar {
    font-family: "VCR OSD Mono";
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0000ff;
    position: fixed;
    z-index: 1;
}

#postcardsContainer {
    width: 85vw;
    margin: auto;
    padding-top: 20vh;
}

#postcardsContainer div.grid-item {
    width: 40vw;
    float: left;
    margin: 10px;
    position: relative;
}

#postcardsContainer a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 98%;
    width: 100%;
    font-family: "VCR OSD Mono";
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    background: rgba(0, 0, 255, .9);;
    opacity: 0;
}

#postcardsContainer a:hover {
    opacity: 1;
}

#postcardsContainer img {
    width: 100%;
}

#postcardsContainer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}
