@import url("vcr_osd_mono.css");
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400i&display=swap');

body {
    background: #fdfdfd;
}

#sidebar {
    font-family: "IBM Plex Serif", serif;
    position: fixed;
    z-index: 1;
}

#postcardsContainer {
    position: absolute !important;
    right: 2px;
    width: 85vw;
    position: relative;
}

#postcardsContainer div.grid-item {
    width: 47%;
    float: right;
    margin: 2.5px;
    position: relative;
}

#postcardsContainer a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: "VCR OSD Mono";
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    background: #0000ff;
    opacity: 0;
}

#postcardsContainer a:hover {
    opacity: 1;
}

#postcardsContainer img {
    width: 100%;
}

#postcardsContainer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}
